{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit TimeTable{% endblock %}

{% block content %}

<div class="col-sm-9">    <h1>Edit TimeTable</h1>

    {{ include('time_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-success" href="{{ path('app_time_table_index') }}">back to list</a>

    {{ include('time_table/_delete_form.html.twig') }}
</div>
{% endblock %}
