{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit Marks{% endblock %}

{% block content %}

<div class="col-sm-9">
    <h1>Edit Marks</h1>

    {{ include('marks/_form.html.twig', {'button_label': 'Update'}) }}

    <a   class="btn btn-success"  href="{{ path('app_marks_index') }}">back to list</a>

    {{ include('marks/_delete_form.html.twig') }}
</div>
{% endblock %}
